@import "tailwindcss";


/* Custom scrollbar for right content */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;          /* Width of the vertical scrollbar */
  height: 8px;         /* Height of the horizontal scrollbar if any */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Track color */
  border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* Thumb color */
  border-radius: 8px;
  border: 2px solid transparent; /* Optional, to make it thinner */
  background-clip: content-box;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Hover effect */
}